@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
    position: relative;
    height: 1219px;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin-left: 300px;
}

.logo_text {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #6b2525 !important ;
    text-decoration: none !important;
}

.text_header {
    font-family: "Segoe UI", sans-serif;
    font-style: light;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    margin-left: 22.8%;
    margin-top: -25px;
}

.header_phone {
    margin-left: 196px;
}

.header_phone a {
    color: #6b2525;
    font-size: 25px;
    font-family: "Segoe UI", sans-serif;
    font-style: light;
    text-decoration: none;
}

.header_phone p {
    font-weight: 300;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    margin-left: 45px;
}

.icon_header a {
    padding: 0 6px;
}

.navbar-nav {
    margin-left: 649.34px;
    margin-top: -45px;
}
.nav-link {
    position: relative;
    color: white !important;
    font-family: "Segoe UI", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    margin-top: -4px;
}

.header_menu {
    margin-top: 42px;
}

.bg-danger {
    background-color: #6b2525 !important;
}

.dws-menu {
    margin-left: 160px;
    margin-top: -45px;
    font-family: "Segoe UI", sans-serif;
    font-style: italic;
    font-weight: normal;
}
ul.dws-ul {
    display: flex;
    padding: 0;
    justify-content: center;
}
li.dws-li {
    list-style: none;
    padding: 10px;
}
li.dws-li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    padding: 5px;
}
.fa-home {
    margin-right: 7px;
}
.fa-shopping-cart {
    margin-right: 7px;
}
.fa-money-check-alt {
    margin-right: 7px;
}
.fa-address-card {
    margin-right: 7px;
}
.fa-users {
    margin-right: 7px;
}
li.dws-li a::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: #33bdf1;
    position: absolute;
    top: 90%;
    left: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
li.dws-li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #ff2117;
    position: absolute;
    top: 90%;
    right: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
li.dws-li:hover {
    background-color: #e5eae8;
}
li.dws-li:hover a::before {
    width: 50%;
    transform: translateX(100%);
}
li.dws-li:hover a::after {
    width: 50%;
    transform: translateX(-100%);
}
li.dws-li a:hover {
    color: #e62117;
}

.container_burger {
    display: inline-block;
    cursor: pointer;
    margin-left: 372px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.container_burger p {
    margin-left: 57px;
    margin-top: -28px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: normal;
}

.button {
    background: #000000;
    border-radius: 10px;
    width: 167px;
    height: 36.98px;
    left: 1351px;
    margin-left: 1478px;
    margin-top: -54px;
}
.button p {
    color: #ffffff;
    text-align: center;
    padding-top: 8px;
    margin-left: 28px;
}
.sqare1 {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 1512px;
    top: 14px;

    background: #ffffff;
}
.sqare2 {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 1525px;
    top: 14px;

    background: #ffffff;
}
.sqare3 {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 1512px;
    top: 28px;

    background: #ffffff;
}
.sqare4 {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 1525px;
    top: 28px;

    background: #ffffff;
}
.content {
    margin-top: 45px;
    margin-left: 98px;
    font-family: "Segoe UI", sans-serif;
    font-style: italic;
    font-weight: normal;
    margin-top: 22px;
}
.content .gr1 {
    margin-left: 35px;
    margin-top: -20px;
}
.content .gr2 {
    margin-left: 45px;
    margin-top: -20px;
}
.content .gr3 {
    margin-left: 55px;
    margin-top: -26px;
}
.center h1 {
    position: absolute;
    left: 322px;
    margin-top: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.block {
    margin-top: 10%;
    margin-left: 200px;
}
.image {
    margin-left: 85px;
    margin-bottom: 5%;
}
.caption h2 a {
    text-decoration: none;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 26px;
    width: 285px;
    height: 14px;
}

.info {
    width: 237px;
    height: 32px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 16px;
    color: #484848;
}

.price_list {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 26px;
    margin-top: 32px;
}


.card_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8%;
    margin-left: 15%;
}
footer {
    margin-top: 260px;
    height: 290px;
    background-image: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}

footer a {
    font-family: "Segoe UI", sans-serif;
    font-style: normal;
    font-size: 14px;
}
footer p {
    font-family: 'Segoe UI Light', sans-serif;
    font-style: normal;
}
.fas {
    font-family: 'Segoe UI Light', sans-serif;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.telegram-ic {
    font-size: 3em;
}
.vk-ic {
    font-size: 3em;
}
.ins-ic {
    font-size: 3em;
}



.fa-instagram {color: #EF3377}
.fa-vk {color: #007EFF}
.fa-telegram {color: #0095D7}

.fa-instagram:hover {
    color: #cccccc;
}

.fa-vk:hover {
    color: #cccccc;
}
.fa-telegram:hover {
    color: #cccccc;
}

.logo {
    color: #8AB816;
}

.modal-title {
    margin-left: 35%;
    font-size: 25px;
}
.btn_form {
    margin-top: 35px;
    width: 430px;
    border-radius: 12px;
}

.capt {
    margin-left: 22%;
    margin-top: 23%;
}
.caption_password {
    text-decoration: none !important;
    color: #6B2525;
}
.modal-content {
    height: 550px;
}
.caption_registration {
    margin-left: 6%;
    color: #6B2525;
    text-decoration: none !important;
}

.vl {
    border-left: 1px solid black;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: -30px;
}

/* Корзина сайта */
.back_list {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    background: #21d192;
    border-radius: 5px;
    height: 60px;
    font-family: "Segoe UI",sans-serif;
}
.back_list p {
    margin: 0 20px;
}
.back_one {
    font-weight: bold;
    color: white;
    font-size: 16px;

}

.box {
    display: flex;
    margin-left: 620px;
    color: white;
    font-size: 16px;
}
.card {
    max-width: 408px;
    margin-top: 54px;
}

.card_one {
    width: 348px !important;
    height: 128px;
}
